{{#unless partials.loginboxContext}}
    <p>
    <form name="login" id="LoginForm" method="post">Логин:
        <input name="login" type="text" size="20">
        Пароль: <input name="password" type="password" size="20">
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form>
    </p>
{{/unless}}
{{#if partials.loginboxContext}}

    <a href="/myprofile">Мой профиль</a>

    <a href="/logout">Выйти</a>
{{/if}}
