<h1>Панель администратора</h1>
<a href="/adminpanel/clients">Список клиентов</a>
<br>
<a href="/adminpanel/contracts">Список абонементов</a>
<br>
<a href="/adminpanel/visits">Список посещений</a>
<br>
<a href="/adminpanel/query">Ввод запросов sql</a>