<p>
<form name="adminCreate" id="AdminCreate" method="post" action="/list/Admin/Create">
    <label> Номер паспорта:
        <input name="N_passport" type="text" size="20">
    </label>
     <label>Имя
    <input name="Name" type="text" size="20">
</label>
    <label>Стаж
        <input name="Experience" type="number" size="20">
    </label>
    <label>Номера
        <input name="Phones" type="text" size="30">
    </label>
    <input type="submit" />
</form>
</p>


