<h1>Регистрация</h1>
<p>
<form name="reg" id="reg" method="post" action="/adminpanel/clients/create">

    <br>
    <label> Номер паспорта:
        <input name="n_passport" type="text" size="20">
    </label>
    <label> Имя:
        <input name="name" type="text" size="20">
    </label>
    <label> Возраст:
        <input name="age" type="number" size="3">
    </label>
    <label> Пол:
        <select name="gender">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
    </label>
    <label>Номера
        <input name="Phones" type="text" size="30">
    </label>
    <input type="submit" />
</form>
</p>