<div class="main">
    <h2>Наш Фитнес-Клуб</h2>
    <p class="promo">Более 1500 человек уже выбрали СКАЛА!

        Просторный зал для фитнеса, оснащенный современным спортивным оборудованием и профессиональной системой
        климат-контроля, и вентиляции, чтобы тебе было комфортно на тренировках в любую погоду.

        Никаких очередей на тренажеры, а также более 30 видов групповых направлений: тренировки мирового уровня
        LesMills, Танцы, аэробика, силовые, степы, йога, пилатес, йога в гамаках, бокс и детский фитнес. Ты обязательно
        найдешь направления для себя!

        Мы собрали в клубе команду профессиональных фитнес-тренеров и всегда поможем выбрать тренера под твою
        фитнес-цель: похудение, набор массы или тонус тела.

        А после тренировки ты всегда можешь расслабиться в настоящем турецком хамаме.

        И все это без ограничений по количеству посещений!

        Ждем тебя в СКАЛА!</p>
</div>
<div class="row">
    <p id="photos">
        <img src="/images/slide5.jpg">
        <img src="/images/cringe.jpg">
        <img src="/images/cringe2.jpg">
        <img src="/images/slide5.jpg">
        <img src="/images/cringe.jpg">
        <img src="/images/cringe2.jpg">

    </p>
</div>

{{#section 'topnav-right'}}
    <a id="photoBox" href="#photos">фотографии</a>
    <a id="contactsBox" href="#contacts">контакты</a>
{{/section}}