<h1>Регистрация</h1>
<p>
<form name="reg" id="reg" method="post" action="/registration">
    <label> Логин:
        <input name="username" type="text" size="20">
    </label>
    <label>Пароль
        <input name="password" type="password" size="20">
    </label>
    <input type="submit" />
</form>
</p>